@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;500&family=Montserrat&family=PT+Serif:wght@400;700&family=Roboto:wght@300&family=Ubuntu&display=swap');

:root {
    --primary-color: #7c3ae7;
    --grey-color:#1f2937;
    --back-color:#d4d4d8;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.naviagtion {
    background-color: var(--primary-color);
    padding: 1rem;
    margin: 0rem 10rem;
    border-bottom-left-radius: 1rem;
    
}

.list-decoration {
    list-style-type: none;
    display:flex;
    justify-content: right;
    /* gap: 10px; */
    /* gap: 10px 20px;  */
    /* row-gap: 10px; */
    column-gap: 20px;
}

.container {
    font-weight: bold;
    color: white;
}

.link {
    text-decoration: none;
    color:white;
    cursor: pointer; 
}

.container-fluid {
    text-align: center;
}

.hero-img {
    max-width: 80%;
    width: 550px;
    margin: auto;
    display: block;
}

h1 {
    color: var(--grey-color);
    font-weight: bolder;
}

span {
    color: purple;
    /* font-weight: bolder; */
}

.skills {
    text-align: center;
    margin: 0rem 10rem;
    background-color: var(--back-color);
    border-radius: 1rem;
}

.skill-container {
    padding: 1rem 0rem;
}